<div class="col col-md 6">
  <div class="card">
    <div class="card-header">Operations</div>
    <div class="card-body">
      <form [formGroup]="operationFromGroup" (ngSubmit)="handleAccountOperation()">
        <div class="mb-3">
          <label class="form-label">Account number : </label>
          <em *ngIf="!validateAccountNumber() && operationFromGroup!.get('accountNumber')!.invalid">Account number should be bigger than 1</em>
          <input type="number" formControlName="accountNumber" class="form-control" required>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" formControlName="operationType" value="DEPOSIT">
          <label class="form-check-label">Deposit</label>
        </div>
        <div class="form-check-inline">
          <input class="form-check-input" type="radio" formControlName="operationType" value="WITHDRAWAL">
          <label class="form-check-label">Withdrawal</label>
        </div>
        <em *ngIf="!validateOperationType() && operationFromGroup!.get('operationType')!.invalid">Operation type is required</em>
        <div class="mb-3">
          <label class="form-label">Amount :</label>
          <em *ngIf="!validateAmount() && operationFromGroup!.get('amount')!.invalid">Amount should be bigger or equals 10 EUR</em>
          <input type="number" formControlName="amount" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Description :</label>
          <em *ngIf="!validateDescription() && operationFromGroup!.get('description')!.invalid">Description is required</em>
          <input type="text" formControlName="description" class="form-control">
        </div>
        <button class="btn btn-success" type="submit" [disabled]="operationFromGroup.invalid">Save operation</button>
      </form>
    </div>
  </div>
</div>
